# Assignment 1: 

Que 7. Calculate Mean, Median, Mode, Variance, Standard Deviation, Range &     comment about the values / draw inferences, for the given dataset
-	For Points,Score,Weigh>
Find Mean, Median, Mode, Variance, Standard Deviation, and Range and also Comment about the values/ Draw some inferences.

Use Q7.csv file

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics as sta
import warnings
import seaborn as sns
from scipy import stats as st
import math as ma

In [13]:
df= pd.read_csv(r"Q7.csv")

In [35]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

. There no outlier on Points also no skwiness in Points because Mean allmost equals to Median.
. There are outlier on Score in upper extreme also Left(-ve) skewness is there in Score because Mean < Median.
. There are outlier on Weigh in upper extreme also Right(+ve) skewness is there in Weigh because Mean > Median.

Q9) Calculate Skewness, Kurtosis & draw inferences on the following data
      Cars speed and distance 
      
Use Q9_a.csv

In [16]:
car= pd.read_csv(r"Q9_a.csv")
car = car[['speed','dist']]
car.skew()

speed   -0.117510
dist     0.806895
dtype: float64

In [17]:
car.kurtosis()

speed   -0.508994
dist     0.405053
dtype: float64

-There are outlier on distance in lower extreme also Left(-ve) skewness is there in Score because skewness and kurtosis value is in -ve.

-There are outlier on distance in upper extreme also Right(+ve) skewness is there in Score because skewness and kurtosis value is in +ve.

Q12)  Below are the scores obtained by a student in tests 
34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56

.Find mean, median, variance, standard deviation.
.What can we say about the student marks?